body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #ff6f61, #bfeb5e); /* Degradado de Rojo a Verde */
  color: #FFFFFF;
  text-align: center;
  padding: 2rem;
}

nav {
  background: linear-gradient(to right, #bfeb5e, #ff6f61); /* Degradado de Verde a Rojo */
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

section {
  padding: 20px;
}

#sobre-mi {
  background: linear-gradient(to right, #ff6f61, #bfeb5e); /* Degradado de Rojo a Verde */
  color: #FFFFFF;
}

#proyectos {
  background: linear-gradient(to right, #bfeb5e, #ff6f61); /* Degradado de Verde a Rojo */
  color: #FFFFFF;
}

#contacto {
  background: linear-gradient(to right, #ff6f61, #bfeb5e); /* Degradado de Rojo a Verde */
  color: #FFFFFF;
}

.project {
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bfeb5e; /* Verde */
}

footer {
  background: linear-gradient(to right, #bfeb5e, #ff6f61); /* Degradado de Verde a Rojo */
  color: #FFFFFF;
  text-align: center;
  padding: 1rem;
}