
body {
  font-family: Arial, sans-serif;

  padding: 10px;

}

.container{
  display:grid;
  grid-template-rows: 1fr 20%;
  height: 60vh;
  gap:30px;
}

.foto{
  display:flex;
  gap: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 2rem;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(86, 255, 131, 0.758);
}



#sobre-mi {
  color: #FFFFFF;
  border: 5px solid #333; /* Borde medio grueso de color gris (#333) */
  padding: 20px;
  border-radius: 30px;
}

#proyectos {
  border: 5px solid #333; /* Borde medio grueso de color gris (#333) */
  padding: 20px;
  border-radius: 30px;
}

#contacto {
  border: 5px solid #333; /* Borde medio grueso de color gris (#333) */
  padding: 20px;
  border-radius: 30px;
}

.project {
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bfeb5e; /* Verde */
}

footer {
  color: #FFFFFF;
  text-align: center;
  border: 5px solid #333; /* Borde medio grueso de color gris (#333) */
  padding: 20px;
  border-radius: 30px;
  padding: 1rem;
}

.round-image {
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen (mismo valor que el ancho para hacerla redonda) */
  border-radius: 50%; /* Establece un borde redondeado del 50% del ancho/alto */
}
